.flex-container
{
    display: flex;
    flex-direction :column;
    align-items: center;
}
button
{
    height:40px;
    width:150px;
    background-color:rgb(57, 211, 238);
    border-radius: 10px;
    font-size: larger;
}
button:hover
{
    color: blue;
    cursor: pointer;
}